{% extends "base.html" %}
{% block content %}
<header>
    <h2>Habit Tracker</h2>
    {% if user.is_authenticated %}
   <li>You are logged in. Hello, {{ user.username }} &#128059;</li>
    {% endif %}
  <li><a href="{% url 'home' %}">Home</a></li>
  </header>
<h1>Add a Habit</h1>
<div class="form">
    <form action="{% url 'add_habit' %}" method="POST">
        <!-- change query to single habit, for records need habit.record.all -->
        {% csrf_token %}
        <p>Enter a habit you would like to track: {{ form.habit }}</p>
        <p>Enter the number of days per week you would like to complete this activity: {{ form.goal }}</p>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock content %}


