{% extends "base.html" %}

{% block content %}
<header>
  <h2>Habit Tracker</h2>
  {% if user.is_authenticated %}
 <li>You are logged in. Hello, {{ user.username }} &#128059;</li>
  {% endif %}
<li><a href="{% url 'home' %}">Home</a></li>
</header>
<h1>Delete Habit</h1>

<div>
    <form action="{% url 'delete_habit' pk=habit.pk %}" method="POST">
      {% csrf_token %}
      <p>Are you sure you want to delete <span class="b">{{ habit.habit }}</span>?</p>
      <div>
        <button type="submit">Delete Habit</button><br />
        <a href="{% url 'home' %}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
