{% extends "base.html" %}

{% block content %}
<header>
  <h2>Habit Tracker</h2>
  {% if user.is_authenticated %}
 <li>You are logged in. Hello, {{ user.username }} &#128059;</li>
  {% endif %}
<li><a href="{% url 'home' %}">Home</a></li>
</header>
<h1>Edit Habit {{ habit.habit }} </h1>

<div>
  <form action="{% url 'edit_habit' pk=habit.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <button type="submit">Submit Changes</button>
      <a href="{% url 'home' %}">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
